        /* Стилизация заголовков */ 

.rectangular-frame {
    width: 100%; /* Ширина рамки */
    background: linear-gradient(rgb(231, 182, 240), rgb(240, 221, 237));;
    border: 0cap;
    padding-top: 2%;
    padding-bottom: 5%;
}


.fs-24 {
    font-size: 20px;
}

.fs-16 {
    font-size: 16px;
}

.fs-32 {
    font-size: 32px;
}

.ml-10 {
    margin-left: 10%;
}


.mt-24 {
    margin-left: 4%;
    width: 60%;     
}   

.head_image {
    margin-left: 6%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.grid-2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 15px;
}

.grid-2-col {
    padding: 1rem;
}

.inline-element {
    display: inline-block; /* Элементы будут расположены в строчку */
    margin-right: 10px; /* Отступ справа для каждого элемента */
}

  .ml-40 {
    margin-left: 40%;
  }

  .ml-2 {
    margin-left: 2%;
  }

  .ml-1 {
    margin-left: 1%;
  }

  .mt-2 {
    margin-top: 2%;
  }

  .pad-2 {
    padding: 2%;
  }

.head_link {
    vertical-align: 200%;
    font-size: 16px;
    font-family: Lato, Arial, sans-serif, -apple-system;
    text-decoration: none;
    color: rgb(80, 80, 244);
}

.article {
    font-family: Lato, Arial, sans-serif, -apple-system;
}

.center-div {
    display: flex;
    justify-content: center;
}

.shadow-block {
    background: #fff;
    box-shadow: 0 1px 4px #e3ebfc, 0 6px 16px #e6ebf5cc;
    border-radius: 12px;
    width: 70%;
}

.text {
    font-family: Lato, Arial, sans-serif, -apple-system;
}

.align_center {
    text-align: center;
}

.align_left {
    text-align:left;
}

.marker-type-1 li {
    margin-bottom: 3%;
}

.marker-type-2 li {
    margin-bottom: 20px;
}

.block-1 {
    display: flex;    
}
.block-1-item-1 {
    flex: 1;
    margin-left: 15%;
    margin-right: 2%;
}

.block-1-item-2 {
    flex: 1;
    margin-left: 2%;
    margin-right: 15%;
}

.bc-blue {
    background-color: rgb(211, 244, 244);
}

.bc-light-blue {
    background-color: rgb(243, 253, 253);
}

